@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@1,100&display=swap');


.container-basic{
    width: 100%;
    height: 45vh;
    display: grid;
    align-items: center;
    justify-content: center;
    
}

.infobasic{
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 15%;
    left: 17%;
    font-family:'Libre Franklin', sans-serif;
    font-size: large;
    font-weight: bold;
}

.cont1{
    width:  fit-content;
    height:  100px;
    margin: 1rem;

}
.cont2{
    width:  fit-content;
    height:  100px;
    margin: 1rem;

}
.cont3{
    width:  fit-content;
    height:  100px;
    margin: 1rem;

}
.cont4{
    width:  fit-content;
    height:  100px;
    margin: 1rem;

}
.cont5{
    width:  fit-content;
    height:  100px;
    margin: 1rem;

}
.pregunta1{
    
    margin-top: 0%;
    box-sizing: content-box;
}
.check1{

    margin-top: 40px;
    box-sizing: border-box;
}


#basic{
    transition-duration: .5s;
}

#basic:hover{
    background-color: #CD4E4E;
}

.pregunta2{

    margin-bottom: 30px;
}

.check2{

    top: 35%;
    left: 26%;
}


.pregunta3{

    top: 30%;
    left: 50%;
    padding-bottom: 30px;
}

.check3{

    top: 35%;
    left: 50%;
}


.pregunta4{

    top: 30%;
    padding-bottom: 30px;
    left: 75%;
}

.check4{

    top: 35%;
    left: 75%;
}


.pregunta5{

    top: 50%;
    left: 5%;
    padding-bottom: 30px;
}
.check5{

    top: 54%;
    left: 5%;
    box-sizing: border-box;
}


.preguntas-bas{
    display: flex;
    flex-direction: row;
}
.btn-basic{
    text-align:"center";
    padding: 16px 48px 18px;
    font-size: 14px;
    white-space: normal;
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    background: #CD4E4E;
    letter-spacing: 2px;
    padding: 14px;
    cursor: pointer;
    color: white;
    top: 65%;
    left: 50%;
}

.btn-basic:hover
{
  background-color: #853838; 
  cursor: pointer;

}


.fa-question-circle{
    color: #CD4E4E ;
    cursor: pointer;
}

.info-presupuesto{
    padding-left: 80px;
    float: right;
    position: relative;

}


.texto-info-presupuesto  {
    position: absolute;
    top: 0%;
    margin-left: 25px;
    display: none;
    padding: 5px 20px;
    background-color: #d1d1d1;
    border-radius: 5%;
    font-size: small;
    align-content: center;
    opacity: 0;
    z-index: 1;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.texto-info-presupuesto::before{
    position: absolute;
    content: "";
    top: 5px;
    height: 8px;
    width: 8px;
    background-color: #d1d1d1;
    transform:translateX(-20%) rotate(45deg);
    
}


.icon:hover .texto-info-presupuesto {
    display: grid;
    visibility: visible;
    opacity: 1;

}


.pregunta-presuspuesto{
    width: 200px;
}
.pregunta-tipo{
    width: 240px;
}


.pregunta-pantalla{
    width: 200px;

}