.error {
    padding: 0.5rem;
    background-color: rgba(255, 0, 0, 0.5);
    border: 1px solid red;
    border-radius: 6px;
    margin: 0.5rem 0 0 0;
}

.row {
    width: 300px;
    padding: 0.5rem 0;
}

.input {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #777;
    padding: .5rem;
    box-sizing: border-box;
}

.submit {
    padding: 0.5rem 0;
    background-color: #00a6ff;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    box-shadow: 0 1px 4px 0 rgba(22, 24, 26, 0.15);

    &.disabled {
        background-color: #e6e6e6;
        color: #292929;
        box-shadow: inherit;
    }
}

.titulo_clas{
    font-family: 'Libre Franklin', sans-serif;
    display: block;
    text-align: center;
}

.info{
    margin-top: 20px;
    text-align: center;
}

.clasificacion{
    position: absolute;
    top: 50%;
    left: 35%;

}

.btn-form{
    text-align:"center";
    display:inline-block;
    padding: 16px 48px 18px;
    font-size: 14px;
    white-space: normal;
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    background: #CD4E4E;
    letter-spacing: 2px;
    padding: 14px;
    cursor: pointer;
    color: white;
    left:50%;
    top: 65%;
    position: absolute;
}

.btn-form:hover
{
  background-color: #853838; 
  cursor: pointer;

}
.pregunta_clasi{
    position: absolute;
    top: 40%;
    left: 35%;
    text-align: center;
}