*{
    font-family: 'Monserrat',sans-serif;
}


.div_login{
    height: 100%;
    width: 100%;
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 35%;
    left: 50%;
    margin: -100px 0 0 -150px;
    display: block;
    
}

.img_div{

    width: 100%;
    height: 200px;
    text-align: center;
    padding: 30px;
    justify-content: center;
    flex-direction: column;
    font-weight: bolder;
}

.form_login{
    display: grid;
    justify-content: center;
}


.email_login{
    margin: 20px;
    margin-left: 50px;

}

.cont_login{
    margin: 20px;   
    margin-left: 50px;
}

.foto_login{

    display: flex;
    vertical-align: middle;
    object-fit: contain;
  
}


.login {
    display: block;
    margin-left: auto;
    margin-right: auto;
 
    right: 50%;
    left: 50%;
    width: 40%;

    color: white;
    animation-name: anim_foto_login;
    animation-duration: 2s;
  }

  @keyframes anim_foto_login {
      0%   {transform: translateX(1200px) rotate(0deg) translateY(0px);}
      100% {transform: translateX(0px) rotate(0deg) translateY(0px) scaleZ(0.3);}
    }

.titulo{
    color: navy;
    margin: 40px;
}

.caja-login{
    position: absolute;
    top: 16%;
    width: 1000px;
    height: 500px;
    left: 25%;
    right: 30%;    
    background: #F1F1F1;
    animation-name: boxShadowAnimation;
    animation-duration: 2s;
    box-shadow: 0px 4px 30px 2px rgba(0, 0, 0, 0.75)
}
/*
@media screen and (max-width:1360px){
    .caja-login{
        top: 16%;
        width: 600px;
        height: 300px;
        left: 15%;
        right: 30%;    
        background: #F1F1F1;
        animation-name: boxShadowAnimation;
        animation-duration: 2s;
        box-shadow: 0px 4px 30px 2px rgba(0, 0, 0, 0.75)
    }
    .img_div{
        visibility:hidden;
    }
    .form_login{
        position: absolute;
        top: 0%;
    }
}
*/
.login-info{

    display: flex;
    height: 100%;
    width: 50%;
    float: right;
    background-color: #CD4E4E;

}
.login-container{
    margin: 0;
    display: flex;
    height: 100%;
    width: 50%;
    float: left;
    background-color: #F1F1F1;
    
}


.btn-login
{
    text-align:"center";

    display:inline-block;
    padding: 16px 48px 18px;
    font-size: 14px;
    white-space: normal;
    text-decoration: none;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    background: #CD4E4E;
    letter-spacing: 2px;
    padding: 14px;
    cursor: pointer;
    color: white;
  }
  .btn-login:hover
  {
    background-color: #853838; 
 
  }

  .texto-login{
    position: absolute;
    left: 50%;
    color: #F1F1F1;
    text-align: center;    
}
