.cuadrado{
    display: grid;
    position: absolute;
    top: 16%;
    width: 750px;
    height: 500px;
    left: 30%;
    right: 30%;    
    background: #F1F1F1;
    animation-name: boxShadowAnimation;
    animation-duration: 2s;
    box-shadow: 0px 4px 30px 2px rgba(0, 0, 0, 0.75)
    
}

@keyframes boxShadowAnimation{
    from {box-shadow: 0px 4px 30px 2px rgba(0, 0, 0, 0)}
    to{box-shadow: 0px 4px 30px 2px rgba(0, 0, 0, 0.75)}
}

@media screen and (max-width: 1100px) {
  .cuadrado {
    left: 10%;
  }
}
@media screen and (max-width: 850px) {
  .cuadrado {
    height: 400px;
    width: 650px;
    left: 2%;
  }
}
@media screen and (max-width: 670px) {
    .cuadrado {
      visibility: hidden;

    }
  }
  @media screen and (max-height: 750px) {
    .cuadrado {
      visibility: hidden;
    }
  }

  .img-pc-home{
    position: absolute;
    left: 17.5%;
    top: 30%;
    height: 55%;
    width: 65%;
  }

.home-logo{
    position: absolute;
    left: 30%;
    cursor: pointer;

}

.home-logo:hover{
    color: #CD4E4E;
}

.texto-home{
    position: relative;
    padding: 20px;
    top: 10%;
    text-align: center;
}


  .btn-registro{
    position: absolute;
    text-align:"center";
    display:inline-block;
  
    font-size: 14px;
    white-space: normal;
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    background: #CD4E4E;
    letter-spacing: 2px;
    padding: 14px;
    cursor: pointer;
    color: white;

    bottom: 2%;
    left: 43%;
}
.btn-registro:hover{
    background-color: #993A3A;
}