
.footer-container{
    vertical-align: center;
    background: radial-gradient(circle, rgb(59, 59, 59), rgba(59, 59, 59));
    position: fixed;

    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 20%;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 3rem;
}